* {
  padding: 0px;
  margin: 0px;
  border: none;
  min-height: 0;
  /* font-family: "Noto Sans Nerd Font"; */ /* is was not commented but it doesnt seem to have any effect... i should check whats going on here (what font am i using?) */
  font-weight: 600;
  font-size: 13px;
}

window#waybar {
	/* background: rgba(50, 3, 71, 0.8); */
	background: rgba(13, 5, 18, 0.85);
}

#custom-launcher {
	/* margin-right: 6px; */
	margin-right: 2px;
	margin-left: 2px;
	padding-left: 4px;
	border-radius: 6px;
	transition: none;
	color: #02d4cc;
  background: transparent;
}

#window {
	/* border-radius: 8px; */
	transition: none;
	color: #FFFACD;
	background: transparent;
	opacity: 1;
}

#workspaces {
	background: transparent;
}

#workspaces button {
	min-width: 30px;
	color: #FFFACD;
	background: linear-gradient(180deg, #6e0561, #2D033B 70%);
	border-radius: 0px;
}

#workspaces button.empty{
	color: grey;
	background: transparent;
}

#workspaces button.active {
  background: linear-gradient(180deg, #47056e, #6E0561 40%, #fa6c07 88%, #fa8d07);
  box-shadow: none;
}
#workspaces button.visible:not(.active) {
  background: linear-gradient(180deg, #47056e, #6E0561 40%, #fa6c07 88%, #fa8d07);
  box-shadow: inset 0 0 8px 0 #47056e;
}

#workspaces button:first-child{
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

#workspaces button:last-child{
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

#workspaces button.active:first-child{
	background: linear-gradient(170deg, #47056e, #6E0561 40%, #fa6c07 88%, #fa8d07);
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

#workspaces button.active:last-child{
	background: linear-gradient(190deg, #47056e, #6E0561 40%, #fa6c07 88% ,#fa8d07);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

#workspaces button:first-child:hover{
	background: linear-gradient(170deg, #47056e, #6E0561 40%, #fa6c07 88%, #fa8d07);
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

#workspaces button:last-child:hover{
	background: linear-gradient(190deg, #47056e, #6E0561 40%, #fa6c07 88%, #fa8d07);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

#workspaces button:hover {
  background: linear-gradient(180deg, #47056e, #6E0561 40%, #fa6c07 88%, #fa8d07);
  box-shadow: inherit;
  text-shadow: inherit;
}


#custom-tray {
	color: #de78c3;
	min-width: 5px;
	/* padding-right: 100px; */
	/* border-radius: 8px; */
	background: #310247;
	/* #310247 */
	/* background: #531866; */
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
#custom-tray-end {
	color: #de78c3;
	min-width: 5px;
	padding-right: 2px;
	border-radius: 8px;
	background: linear-gradient(90deg, #310247 20%, #531866 100%);
	/* background: #310247; */
	/* background: #531866; */
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;	
}

#tray {
	/* min-width: 30px; */
	/* min-width: 50px; */
	/* border-radius: 8px; */
	/* border-bottom-left-radius: 0px; */
	/* border-top-left-radius: 0px; */
	transition: none;
	background: transparent;
	/* margin-right: 1px; */

}

#tray menu {
	/* background: #47056e; */
	background: #1c0229;
	color: #FFFACD;
 	border-style: solid;
 	border-width: 2px;
 	border-color: rgba(72,209,204,0.3);
 	border-radius: 10px;
}

#custom-hardware {
	/* min-width: 10px; */
	/* min-width: 30px; */
	padding-left: 4px;
	color: #02a79f;
	background: #531866;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	/* border-radius: 8px; */
}

#cpu, #temperature, #memory, #disk, #disk.disk2, #power-profiles-daemon, #network {
	padding-right: 4px;
	padding-left: 4px;
	background: transparent;
	color: #FFFACD;
}

#cpu:hover, #temperature:hover, #memory:hover, #disk:hover, #disk.disk2:hover, #power-profiles-daemon:hover ,#network:hover{
	background: linear-gradient(180deg, #47056e, #6E0561 40%, #fa6c07 88%, #fa8d07);
}

#custom-spotify {
  padding-left: 4px;
  transition: none;
  color: #1DB954;
  /* background: linear-gradient(90deg, rgba(83,24,102,1) 20%, rgba(106,5,114,1) 50%, rgba(92,5,97,1) 100%); */ 
  background: linear-gradient(90deg, rgba(83,24,102,1) 30%, rgba(106,5,114,1) 70%, rgba(92,5,97,1) 100%); 
}

#pulseaudio {
	/* padding-left: 4px; */
	padding-left: 2px;
	/* padding-right: 4px; */
	transition: none;
	color: #f9b1e6;
	background: #5c0561;
}

#clock {
	padding-left: 4px;
	transition: none;
	color: #fc7eda;
	background: linear-gradient(87deg, rgba(92,5,97,1) 0%, rgba(71,4,84,1) 100%); 
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#clock.date  {
	/* padding-right: 4px; */
	padding-right: 2px;
	padding-left: 4px;
	transition: none;
	color: #fa8d07;
	background: #470454;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#custom-power {
	padding-left: 4px;
	padding-right: 4px;
	transition: none;
	color: #02d4cc;
  /* background: linear-gradient(87deg, rgba(71,4,84,1) 0%, rgba(50,3,71,1) 30%); */ 
  background: linear-gradient(87deg, rgba(71,4,84,1) 0%, rgba(50,3,71,1) 100%); 
}

